/*****************************
* Template
******************************/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    overflow-y: auto;
    padding-top: 20px;
    margin-top: 75px;
    height: 75vh;
    border-right: 1px solid #ddd;
}

.content {
    margin-left: 300px;
    /* Same as the sidebar width */
    padding-left: 20px;
}

#section1 .row div {
    height: 100%;
}

/*****************************
* Animal list
******************************/
.jumbotron {
    width: 100%;
    height: 300px;
    background: #f8f9fa;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


.animal-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: flex-start;
    padding: 10px;
}

.animal-list .card {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease;
}

.animal-list .card:hover {
    transform: scale(1.03);
}

.animal-list .card strong {
    font-size: 0.9rem;
}

.animal-list .card-body {
    padding: 10px 0;
    flex-grow: 1;
}

.animal-list .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom: 2px solid #ddd;
}

.animal-list .card-body {
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.animal-list .card h2 {
    font-size: 1rem;
    margin-bottom: 5px;
}

.animal-list .card p {
    font-size: 0.9rem;
}

/*****************************
* available animals
******************************/
.animal-list .card-body ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.animal-list .card-body li {
    font-size: 0.9rem;
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

.animal-list .card-body li:last-child {
    border-bottom: none;
}

.animal-list .card-body strong {
    font-weight: 600;
    color: #555;
}

/* *****************************
 * Animal detail
 ******************************/
#mainPhoto {
    background: #aaa;
    display: block;
    height: 400px;
    object-fit: cover;
    width: 100%;
}

.placeholder-photo {
    display: inline-block;
    background: #aaa;
    height: 80px;
    width: 80px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* *****************************
 * Sell modal
 *******************************/

.vh-space {
    height: 25vh;
}

.sell-animal-form {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-header {
    border-bottom: 1px solid #ddd;
}

.sell-animal-form .modal-body {
    padding: 20px;
}

.sell-animal-form .form-label {
    font-weight: bold;
}

/* *****************************
 * Sell 
 ******************************/
#section3 .animal-select-container {
    display: flex;
    overflow-x: auto;
    padding: 10px 0;
    gap: 15px;  /* Space between the cards */
}

#section3 .animal-card {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    border: 2px solid #ddd;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    transition: transform 0.3s ease, border 0.3s ease;
}

#section3 .animal-card:hover {
    transform: scale(1.1);
    border-color: #007bff;
}

#section3 .animal-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

#section3 .animal-card h5 {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

.animal-card.active {
    border-color: #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}
